.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

body {
    background-image: url("../images/grey_wash_wall.png");
}

.container {
    margin-top: 50px;
    padding: 50px;
    background-color: #343a3f;
}

.card-footer {
    margin-top: 40px;
    height: 40px;
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    border-bottom: 3px solid orange;
}

.img-thumbnail {
    border: 5px solid orange;
}

p {
    color: beige;
}