.navbar-brand {
    font-size: 40px;
    float: left;
    margin-left: 250px;
    margin-right: 450px;
}

body {
    background-image: url("../images/grey_wash_wall.png");
}

.container {
    display: block;
    height: 500px;
    width: 700px;
    margin: 65px 0px 0px 368px;
    background-color: #343a3f;
}